:root {
  /* Colors */
  --blue: #339AF0;
  --very-light-blue: #ECF3FC;
  --black: #333;
  --transparent-black: rgba(0, 0, 0, .5);
  --gray: #888;
  --light-gray: #BBB;
  --very-light-gray: #EEE;
  --red: #E83A2A;
  --very-light-red: #FFECEC;
  --yellow: #FFF159;
  /* Fonts */
  --primary-font: sans-serif;
  /* Sizes */
  --spacing-1: .75rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
}

html {
  font-family: var(--primary-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray);
}

/* Generals */
button { 
  cursor: pointer; 
}

button > .icon {
  display: grid;
  place-content: center;
}

.text-button {
  border: none;
  border-radius: .25rem;
  padding: .75em 1em;
}

.primary-button {
  background-color: var(--blue);
  color: #FFF;
}
.secondary-button {
  background-color: var(--very-light-blue);
  color: var(--blue);
}
.primary-danger-button {
  color: #FFF;
  background-color: var(--red);
}
.secondary-danger-button {
  color: var(--red);
  background-color: var(--very-light-red);
}

a {
  color: var(--black);
  text-decoration: none;
}

@media (min-width: 48rem) {
  a:hover {
    text-decoration: underline;
  }
}
/* /Generals */

/* Header */
.header {
  align-items: center;
  background-color: var(--yellow);
  box-shadow: 0 0 50px -20px rgba(0, 0, 0, .3);
  display: flex;
  gap: 1rem;
  padding: 1rem var(--spacing-1);
  position: relative;
  z-index: 200;
}

.header__logo {
  cursor: pointer;
  user-select: none;
}

.nav {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.search-bar {
  align-items: center;
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: .5em;
  padding: .5em;
  width: 100%;
}
.search-bar input {
  border: none;
  outline: none;
  width: 100%;
}
.search-bar button {
  background: none;
  border: none;
}
.search-bar__icon {
  font-size: 1rem;
}

.tools-container {
  align-items: center;
  display: flex;
  gap: .5em;
}

.nav__hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
  position: relative;
  width: 25px;
}
.nav__hamburger div {
  background-color: #000;
  height: 2px;
  transition: all ease .3s;
  width: 100%;
}

.cart-button {
  background: none;
  border: none;
  position: relative;
}

.cart-button span.cart-button__products-counter {
  background-color: var(--red);
  border-radius: 50%;
  bottom: 0;
  color: #FFF;
  display: grid;
  font-size: .7rem;  
  height: .85rem;
  place-content: center;
  position: absolute;
  right: 0;
  transform: translate(0%, 50%);
  width: .85rem;
}

@media (min-width: 48rem) {
  .search-bar {
    min-width: 15rem;
    width: 30%;
  }

  .tools-container {
    margin-left: auto;
  }
}
/* /Header */

/* Hamb-Menu */
.hamb-menu {
  background-color: #FFF;
  box-shadow: 0 0 10px 0 var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: -75%;
  padding: 1.25rem 1rem;
  position: absolute;
  transition: margin .5s ease;
  width: 100%;
  z-index: 100;
}

.hamb-menu__link {
  align-items: center;
  display: flex;
  gap: .5em;
}

@media (min-width: 48rem) {
  .hamb-menu {
    background: none;
    box-shadow: none;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    position: relative;
    transition: none;
    width: auto;
  }
}
/* /Hamb-Menu */

/* onHambClick */
.show-hamb-menu {
  margin-top: 0;
}

.change-to-cross div:nth-child(1) {
  position: absolute;
  top: 44%;
  transform: rotateZ(45deg);
}
.change-to-cross div:nth-child(2) {
  opacity: 0;
}
.change-to-cross div:nth-child(3) {
  position: absolute;
  top: 44%;
  transform: rotateZ(-45deg);
}
/* /onHambClick */

/* Cart */
.cart-container {
  background-color: #FFF;
  border-radius: 0 0 0 .125rem;
  box-shadow: 0 0 15px -5px var(--light-gray);
  padding: 1rem;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 200;
}

.cart-container::before {
  content: "";
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFF transparent;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  right: 14px;    
}

.cart__products-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.empty-cart-text {
  text-align: center;
}

.cart-container button {
  width: 100%;
}

@media (min-width: 26.75rem) {
  .cart-container {
    min-width: 13.75rem;
    width: 35%;
  }
}

@media (min-width: 48rem) {
  .cart-container {
    width: 25%;
  }
}

@media (min-width: 64rem) {
  .cart-container {
    width: 20%;
  }
}
/* /Cart */

/* Form-Generals */
.form-container {
  align-items: center;
  background-color: #FFF;
  border-radius: .125rem;
  box-shadow: 0 0 15px -5px var(--very-light-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  left: 50%;
  padding: 1.5rem var(--spacing-1);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 85%;
}

.form-container__input-container {
  width: 90%;
}

.form-container__input {
  border: 2px solid var(--very-light-gray);
  border-bottom: none;
  border-radius: .175rem;
  box-shadow: 0 3px 0 0 var(--blue);
  outline: none;
  padding: .5rem;
  width: 100%;
}

.form-container button[type="submit"] {
  margin-top: .5em;
  width: 90%;
}

.form-link {
  color: #1900ff;
  text-decoration: underline;
  font-size: .75rem;
}

.input-msg-container {
  align-items: center;
  color: var(--gray);
  display: flex;
  font-size: .9rem;
  gap: .25rem;
  margin-top: .5rem;
}

.password-input-container {
  position: relative;
}

.password-input-eye {
  color: var(--black);
  position: absolute;
  top: 50%;
  transform: translate(-125%, calc(-50% + 2px));
}
/* /Form-Generals */

/* Products-Generals */
.product-card {
  background-color: #FFF;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin: var(--spacing-1);
}

.product__title-container {
  border-bottom: 1px solid var(--light-gray);
}
.product__title {
  padding: 1em 1rem;
}

.product__img {
  width: 100%;
}

.product-info {
  padding: var(--spacing-1);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.product__buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icon-button-container {
  display: flex;
  gap: .5rem;
}

.product-button {
  background: none;
  border: none;
}

@media (min-width: 48rem) {
  .product-info {
    gap: 1.25rem;
  }
}
/* /Products-Generals */

/* Featured-Product */
.featured-product {
  max-width: 35rem;
}

.product-link {
  border-radius: .25rem;
  padding: .5em 1em;
}
/* /Featured-Product */

/* Latest-Products */
.latest-products-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.latest-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.latest-product .product-info {
  justify-content: space-around;
}

.latest-product .product__img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

@media (min-width: 48rem) {
  .latest-products-container {
    gap: 0;
    padding: 0 .75rem;
  }

  .latest-products {
    max-width: calc(100vw - 2rem);
    width: min-content;
  }

  .latest-products-container {
    padding: 0;
  }

  .latest-product {
    border-right: 1px solid var(--very-light-gray);
    display: block;
    height: 100%;
    min-width: 15rem;
    padding-inline: 1rem;
  }

  .latest-product:last-child {
    border-right: none;
  }

  .latest-products-container {
    flex-direction: row;
    overflow-x: scroll;
  } 
}
/* /Latest-Products */

/* Product-Details */
.product-details {
  background-color: #FFF;
}

.product-details__name {
  padding: 1em 0;
  text-align: center;
}

.product__img-container {
  position: relative;
}

.product-details__text-container,
.product-details__buttons-container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-1);
}
.product-details__text-container { gap: 1rem; }

.product-details__buttons-container { gap: .5rem; }

.product-details__like-button {
  background-color: #FFF7;
  border-radius: 50%;
  margin: 1em;
  padding: .5em;
  position: absolute;
  right: 0;
}

.product-details .product-button .icon {
  transform: translateY(.75px);
}

@media (min-width: 48rem) {
  .product-details {
    display: grid;
    grid-template-areas: 
      "title title"
      "img text"
      "img buttons"
    ;
    grid-template-columns: 1fr 1fr;
    margin: var(--spacing-3);
  }

  .product-details__name { grid-area: title; }
  .product-details__img-container { grid-area: img; }
  .product-details__text-container { grid-area: text; }
  .product-details__buttons-container { grid-area: buttons; }
 
  .product-details .product__img-container {
    margin-inline: auto;
    width: 50%;
  }
}
/* /Product-Details */

/* Related-Products */
.related-products {
  padding: var(--spacing-1);
}

.related-products__title {
  margin-bottom: var(--spacing-1);
}

@media (min-width: 48rem) {
  .related-products-container {
    display: flex;
  }

  /* .related-products-container .product__img {
    aspect-ratio: 1 / 1;
    outline: 2px solid red;
  } */
}
/* /Related-Products */

/* Buy-Now */
.buy-now-container__shadow {
  background-color: var(--transparent-black);
  display: grid;
  height: 100%;
  place-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.buy-now-container {
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: 0 0 30px -15px var(--black);
  padding: 2rem;
  position: relative;
}

.buy-now-container .exit-button {
  position: absolute;
  top: .5em;
  left: .5em;
}
/* /Buy-Now */

/* User-Account */
.user-container {
  background-color: #FFF;
}

.user-container__child {
  border-bottom: 1px solid var(--very-light-gray);
  padding: var(--spacing-2);
}

.user__profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.user__img-container {
  text-align: center;
}
.user__img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 30px -15px var(--light-gray);
}

.user__links {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.user__link {
  color: blue;
}

.danger-buttons-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
/* /User-Account */

/* User-Balance */
.balance-container {
  margin: var(--spacing-2);
}

.balance-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.balance__amount-to-load {
  background-color: #FFF;
}

.balance__amount-to-load > input {
  border: none;
  outline: none;
  padding: 0 .5em;
  width: 100%;
}
/* /User-Balance */

/* Published-Products */
.published-product {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: var(--spacing-1);
}

.published-product__title {
  padding: .25em 0;
}
/* /Published-Products */

/* Sell-Form */
.sell-form-container {
  background-color: #FFF;
  padding: var(--spacing-1);
}

.sell-form__input-container {
  padding: .5em 0;
}

.product-price__container {
  align-items: center;
  display: flex;
}

#input__product-price {
  border: none;
  margin-left: .5em;
  outline: none;
  width: 100%;
}

.sell-form textarea {
  resize: vertical;
  max-height: 25rem;
  min-height: 4rem;
  width: 100%;
}

.sell-form button {
  margin: 1.5em 0 0;
  width: 100%;
}
/* /Sell-Form */

/* Modifiers */
.normal-icon {
  font-size: 1rem;
}
.big-icon {
  font-size: 1.5rem;
}

.heart {
  color: var(--red);
}
.price-symbol {
  color: var(--gray);
}
/* /Modifiers */